.form-signin-heading {
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
}
#inputEmail {
    font-size: 16px;
}
#inputPassword {
    font-size: 16px;
}
.btn-primary {
    background-color: rgb(51, 122, 183);
    background-color: rgba(51, 122, 183, 0.39);
}